*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,rgb(232, 236, 235),rgb(81, 80, 80));
    height: 100vh;
}

/* Styling the header section of the webpage. */
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.188);
}
h1{
    display: flex; /*Was necessary to make the logo appear next to the text.*/
    font-size: 5.6rem;
    margin-left: 2%;
    align-items: center; /*This made the logo and text to align vertically.*/
    gap: 0.2rem;
    letter-spacing: 0.5rem;
}
header img{
    height: 1em; /*This made the SVG's size proportional to the text*/
}
header button{
    align-self: center;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-right: 2rem;
    border: 2.6px solid black;
    border-radius: 15%;
    color: white;
    background-color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.37s; /*For button transition effects*/
}
header>button:hover{
    border-color: white;
}
header>button:active{
    border-color: black;
    color: black;
    background-color: white;
}

/* Styling the footer section */
footer{
    padding: 0.6%;
    background-color: rgba(0, 0, 0, 0.496);
    color: white;
    display: flex; 
    justify-content: center;
    gap: 0.5rem;
    align-items: center; /*To align the GitHub logo with the text*/
}
footer img{
    height: 2rem;
    transition: transform 0.5s;
}
footer img:hover{
    transform: rotate(180deg);
}