*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right,rgb(232, 236, 235),rgb(81, 80, 80));
    height: 100vh;
}

/* Styling the header section of the webpage. */
header{
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
    background-color: rgba(0, 0, 0, 0.188);
}
h1{
    display: flex; /*Was necessary to make the logo appear next to the text.*/
    font-size: 5.6rem;
    margin-left: 2%;
    align-items: center; /*This made the logo and text to align vertically.*/
    gap: 0.2rem;
    letter-spacing: 0.5rem;
    text-shadow: 0.33rem 0.33rem 0.63rem rgb(1, 1, 1);
}
header img{
    height: 1em; /*This made the SVG's size proportional to the text*/
}
header>button{
    align-self: center;
    font-size: 1.2rem;
    padding: 0.6rem;
    margin-right: 2rem;
    border: 2.6px solid black;
    border-radius: 15%;
    color: white;
    background-color: black;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.37s; /*For button transition effects*/
}
header>button:hover{
    border-color: white;
}
header>button:active{
    border-color: black;
    color: black;
    background-color: white;
}

/* Styling the footer section */
footer{
    padding: 0.6%;
    background-color: rgba(0, 0, 0, 0.496);
    color: white;
    display: flex; 
    justify-content: center;
    gap: 0.5rem;
    align-items: center; /*To align the GitHub logo with the text*/
}
footer img{
    height: 2rem;
    transition: transform 0.5s;
}
footer img:hover{
    transform: rotate(180deg);
}

/* Styling content section */
.content{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin: 0px 1.2rem;
    gap: 2rem;
}
/* Styling the info section */
.info{
    background-color: rgba(150, 149, 149, 0.289);
    margin-top: 0.4rem;
    margin-bottom: 0.8rem;
    box-shadow: 6px 6px 8px;
    border-radius:0% 15% 15% 0%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 1.5rem;
}
p{
    margin:4% 10% 4% 2%; /* To centre the Log text, couldn't do with text align alone*/
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2%; /* To push down the underline */
    border-bottom: 2px solid black;
}
.info>div{
    margin: 0px 5%;
    background-color: rgba(240, 248, 255, 0.172);
    box-shadow: -4px 4px 6px;
}

/* Styling the books section */
.books{
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin: 1rem;
    gap: 1rem;
}

/* Styling the Book Adder */
#add{
    max-height: 10rem; /*Had to add these constraints so images's height can be constrained*/
    max-width: 10rem;
}
#add>img{
    height: 100%;
    cursor: pointer;
    transition: transform 0.4s;
}
#add>img:hover{
    transform: scale(1.06);
    opacity: 0.75;
}
#add>img:active{
    transform: scale(1);
    opacity: 1;
}